@CHARSET "UTF-8";

@page{
	size: landscape;
}

body{
	border: none;
	width: 100%;
	height: 100%;
}

#bouton{
	display: none;
}

.tab_fiances{
	page-break-after: always;
}

/* font color black pour les tableaux */
#content th{
	color: #000000;
}

#content td{
	color: #000000;
}
